@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-titulo: 'Bitter', serif;
    --cor-principal: #3F3D56;
    --cor-secundaria: #fb9c06;
}

body {
    background-color: var(--cor-principal);
    height: 100vh;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;  
    color: var(--cor-secundaria);
    padding-top: 1rem;
}

.cabecalho .cabecalho__titulo {
    font-family: var(--font-titulo);
    font-weight: 800;
    margin-right: 10px;
}

.cabecalho .fa-location-dot {
    font-size: 1.8rem;
    height: 2.3rem;
}

main {
    max-width: 1440px;
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    color: var(--cor-secundaria);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .container__input {
    display: flex;
}

.container__input .input-cidade {
    margin-right: 20px;
}

.container__input .input-uf {
    width: 3rem;
}

.form-btn {
    width: 100%;
    padding: 5px;
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    border-radius: 8px;
}    

.ilustracao {
    width: 40rem;
}