@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-titulo: 'Bitter', serif;
    --cor-principal: #3F3D56;
    --cor-secundaria: #fb9c06;
}

body {
    background-color: var(--cor-principal);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;  
    color: var(--cor-secundaria);
    margin-top: 1rem;
}

main {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
}

.ilustracao {
    width: 25rem;
}