@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-titulo: 'Bitter', serif;
    --cor-principal: #3F3D56;
    --cor-secundaria: #fb9c06;
}

body {
    background-color: var(--cor-principal);
    height: 100vh;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;  
    color: var(--cor-secundaria);
}

.cabecalho .cabecalho__titulo {
    font-family: var(--font-titulo);
    font-weight: 800;
}

.cabecalho .fa-location-dot {
    font-size: 1.8rem;
    height: 2.3rem;
}

main {
    max-width: 1440px;
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    color: var(--cor-secundaria);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .container__input {
    display: flex;
    flex-direction: column;
}

form .container__cidade-uf {
    display: flex;
}

form .container__input .input-uf {
    width: 3rem;
}

form .container .form-control:focus {
    border-color: white;
    box-shadow: none;
}

form .erro-cidade, .erro-uf, .erro-rua, .erro {
    display: none;
}

form .container-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

form .container-btn .btn {
    width: 45%;
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    border-radius: 8px;
}    

form .container-btn .btn:last-child {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

form .container-btn .btn:last-child:hover {
    color: white;
    border-color: white;
}

.resultado-pesquisa {
    font-size: 1.5rem;
    display: none;
}

.resultado-pesquisa  .cidade, .cep {
    color: var(--cor-secundaria);
}

.ilustracao {
    width: 40%;
}

.active {
    display: none;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }

    .resultado-pesquisa {
        font-size: 1.5rem;
    }

    .ilustracao {
        width: 10rem;
        margin: 4rem 0 3rem;
    }
}